.table {
  margin:auto;
  width:100%;
  border-spacing: 0;
  border-bottom: 1px solid #111;

}

.table tbody tr:nth-child(odd){
  background-color: #f9f9f9;
}

tbody td{
  padding:8px 10px;
  border-top: 1px solid #ddd;
}

tbody tr:first-child td {
  border-top: none;
}

thead th {
  padding:10px 18px;
  border-bottom: 1px solid #111;
}

.theadContent {
  display:flex;
  justify-content: space-around;
}

.sort i:hover {
  cursor:pointer;
}

.sorted {
  background-color: whitesmoke;
}